
/obj
obj/project.assets.json
obj/uzbaseQuiz.csproj.nuget.dgspec.json
obj/uzbaseQuiz.csproj.nuget.g.props
/bin/Debug/net8.0
/bin/Debug
/bin
bin/Debug/net8.0/uzbaseQuiz.exe
obj/Debug/net8.0/uzbaseQuiz.AssemblyInfo.cs
*.cache
bin/Debug/net8.0/uzbaseQuiz.exe
bin/Debug/net8.0/uzbaseQuiz.dll
/bin/Debug/net8.0
/bin
